@font-face {
    font-family: "XiaoLaiMono";
    src: url(@/css/font/XiaolaiMonoSC-Regular.woff2);
}

@font-face {
    font-family: "Consolas";
    src: url(@/css/font/consola.woff2);
}

@font-face {
    font-family: "LXGW_WenKai";
    src: url(@/css/font/LXGWWenKai-Regular.woff2);
}
