@font-face {
    font-family: "XiaoLaiMono";
    src: url(./font/XiaolaiMonoSC-Regular.woff2);
}

@font-face {
    font-family: "Consolas";
    src: url(./font/consola.woff2);
}

@font-face {
    font-family: "LXGW_WenKai";
    src: url(./font/LXGWWenKai-Regular.woff2);
}
